---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/blogs/v3/blog-authors?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 2B810008B2544DFCCF09198ECC019A252FBA97A8A4000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"limit":1000,"objects":[{"avatar":"","bio":"","created":1387405616000,"deletedAt":0,"displayName":"Levi
        Test4","email":"test11+14@mangotreemedia.com","facebook":"","fullName":"Levi
        Test4","googlePlus":"","gravatarUrl":"https://app.hubspot.com/settings/avatar/85e87be7a1731ae52857b2b9733837aa","hasSocialProfiles":false,"id":415341859,"linkedin":"","portalId":62515,"slug":"levi-test4","twitter":"","twitterUsername":"","updated":1468569369623,"username":"","website":""},{"avatar":"","bio":"","created":1387404247000,"deletedAt":0,"displayName":"levi","email":"levi@savvypanda.com","facebook":"","fullName":"levi","googlePlus":"","gravatarUrl":"https://app.hubspot.com/settings/avatar/314f688aa3293734d51d2fe5823e8959","hasSocialProfiles":false,"id":416695688,"linkedin":"","portalId":62515,"slug":"levi","twitter":"","twitterUsername":"","updated":1387404247000,"website":""},{"avatar":"","bio":"","created":1387405319000,"deletedAt":0,"displayName":"Levi
        Te[...]
